/* style.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #012e40;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #012e40;
  padding: 10px 20px;
  border-top: 2px solid rgba(204, 204, 204, 0.2);
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  margin-right: 20px;
  font-size: 16px;
}

form {
  width: 300px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #012e40;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #012e40;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #F2762E;
}

.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  color: #012e40;
  text-decoration: none;
  font-weight: 700;
}

#section_nav{
  display: flex;
}

#nav_image{
  padding-left: 5px;
  width: 30px;
  height: 30px;
}

#nav_text{
  padding-top: 5px;
}

#header_box{
  padding-left: 45%;
  display: flex;
}

#header_image{
  width: 70px;
  height: 70px;
}

#title_text{
  padding-left: 10px;
  padding-top: 20px;
}

.menu_button{
  background-color: #012e40;
  color: #fff;
  cursor: pointer;
  border: none;
}

.menu_button:hover, #temp_button:hover{
  color: #F2762E;
}