body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #012e40;
}
  
header {
    background-color: #012e40;
    padding: 20px;
    text-align: center;
}
  
header h1 {
    margin: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
  
nav {
    display: flex;
    justify-content: space-between;
    background-color: #012e40;
    padding: 10px 20px;
    border-top: 2px solid rgba(204, 204, 204, 0.2);
}
  
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    margin-right: 20px;
    font-size: 16px;
}
  
section {
    padding: 40px;
    text-align: center;
}
  
section h2 {
    color: #012e40;
    margin-bottom: 20px;
    font-size: 36px;
}
  
section p {
    font-size: 18px;
    line-height: 1.6;
}
  
#section_nav{
    display: flex;
}
  
#nav_image{
    padding-left: 5px;
    width: 30px;
    height: 30px;
}
  
#nav_text{
    padding-top: 5px;
}

#nav_text_login{
    padding-top: 5px;
  }
  
#section_nav_login{
    display: flex;
}

#nav_text_profile{
    padding-top: 5px;
  }
  
#section_nav_profile{
    display: flex;
}
  
#header_box{
    padding-left: 45%;
    display: flex;
}
  
#header_image{
    width: 70px;
    height: 70px;
}
  
#title_text{
    padding-left: 10px;
    padding-top: 20px;
}
  
.menu_button{
    background-color: #012e40;
    color: #fff;
    cursor: pointer;
    border: none;
}
  
.menu_button:hover{
    color: #F2762E;
}
  
footer{
    display: flex;
    width: 100%;
    height: 150px;
    color: #fff;
    background-color: #012e40;
}
  
#first_div_footer{
    margin-left: 10px;
    width: 50%;
}
  
#second_column{
    width: 40%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#footer_img{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
#sell_post_father{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#sell_post_son{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 30px;
}
  
#sell_boxes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
  
#change_page{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
  
#previous_page{
    text-align: center;
    flex: 50%;
}
  
#next_page{
    text-align: center;
    flex: 50%;
}
  
#previous_page_btn{
    background-color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
#next_page_btn{
    background-color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
#previous_page_btn:hover, #next_page_btn:hover, #new_sell_post_btn:hover{
    border: 1px solid #f2762ead;
    border-radius: 2px;
}
  
#new_sell_post_father{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#new_sell_post_son{
    display: flex;
    margin-top: 30px;
}
  
#new_sell_post_btn{
    background-color: #fff;
    margin-top: 4px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#card_0, #card_1, #card_2, #card_3, #card_4{
    margin-top: 10px;
    display: flex;
    height: 160px;
    width: 95%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, scale 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: none;
}

#card_0:hover, #card_1:hover, #card_2:hover, #card_3:hover, #card_4:hover{
    transform: translateX(10px) scale(1.02);
    box-shadow: 0 0 3px 1px rgba(242, 118, 46, 0.3), 0 0 5px 2px rgba(242, 118, 46, 0.3), 0 0 7px 3px rgba(242, 118, 46, 0.3);
}

#card_0_principal, #card_1_principal, #card_2_principal, #card_3_principal, #card_4_principal{
    width: 70%;
}

#card_0_button_box, #card_1_button_box, #card_2_button_box, #card_3_button_box, #card_4_button_box{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card_0_btn, #card_1_btn, #card_2_btn, #card_3_btn, #card_4_btn{
    background-color: #012e40;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
  
#card_0_btn:hover, #card_1_btn:hover, #card_2_btn:hover, #card_3_btn:hover, #card_4_btn:hover{
    background-color: #F2762E;
}

#card_0_offer, #card_1_offer, #card_2_offer, #card_3_offer, #card_4_offer{
    margin-top: 30px;
    flex: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card_0_footer, #card_1_footer, #card_2_footer, #card_3_footer, #card_4_footer{
    margin-top: 20px;
    flex: 100%;
}

#card_0_footer_seller, #card_1_footer_seller, #card_2_footer_seller, #card_3_footer_seller, #card_4_footer_seller{
    margin-left: 60px;
}

#card_0_gears_offered, #card_0_eth_requested, #card_1_gears_offered, #card_1_eth_requested, #card_2_gears_offered, #card_2_eth_requested, #card_3_gears_offered, #card_3_eth_requested, #card_4_gears_offered, #card_4_eth_requested{
    display: flex;
    flex: 40%;
    align-items: center;
    justify-content: center;
}

#card_0_gears_offered_text, #card_0_eth_requested_text, #card_1_gears_offered_text, #card_1_eth_requested_text, #card_2_gears_offered_text, #card_2_eth_requested_text, #card_3_gears_offered_text, #card_3_eth_requested_text, #card_4_gears_offered_text, #card_4_eth_requested_text{
    font-size: 24px;
    text-align: center;
}

#card_0_right_arrow, #card_1_right_arrow, #card_2_right_arrow, #card_3_right_arrow, #card_4_right_arrow{
    margin-top: 5px;
    flex: 20%;
    text-align: center;
}

#card_0_offer_id, #card_1_offer_id, #card_2_offer_id, #card_3_offer_id, #card_4_offer_id{
    margin-top: 30px;
    margin-left: 15px;
    font-size: 11px;
    color: #9a9a9a;
}

#card_0_cart_img, #card_1_cart_img, #card_2_cart_img, #card_3_cart_img, #card_4_cart_img{
    margin-left: 5px;
}

#card_0_gear_img, #card_1_gear_img, #card_2_gear_img, #card_3_gear_img, #card_4_gear_img{
    margin-left: 5px;
}

#empty_box{
    background-color: lightgray;
    padding-top: 70px;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 24px;
    display: none;
}

#invisible_div_unclickable{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
  
#pop_up_new_sell_gears{
    background-color: #ffffff;
    width: 50%;
    height: 145px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
  
#close_pop_up_btn{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    border: none;
}
  
#close_pop_up_btn:hover{
    background-color: #F2762E;
}
  
#compilable_form_new_sell_gears{
    margin-left: 20px;
    margin-top: 10px;
}
  
label{
    margin-top: 10px;
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #012e40;
}
  
#new_sell_gears_trade_section{
    display: flex;
}
  
#new_sell_gears_trade_ethereum{
    margin-left: 90px;
}

#new_sell_gears_confirm_button{
    background-color: #012e40;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 30px;
}
  
#new_sell_gears_confirm_button:hover{
    background-color: #F2762E;
}

#error_message_gears, #error_message_ethereum{
    color: red;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
}